.cart p {
 margin-left: 4%;
 white-space: nowrap;
}
.cart {
    vertical-align: 80% !important;
}
.cart ul {
    position: relative;
    transform: translateY(15%)
}
.cartIcon {
    transform: translateY(7%);
}
.brandMain {
    font-weight: 700;
    position: relative;
    color:  rgb(49, 49, 49) !important;
}
.brandMain::after {
    content: "";
    background-color: rgb(16, 44, 104);
    display: block;
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 5px;
    opacity: 0;
}
.brandMain:hover {
   color: #000 !important;
}
.brandMain:hover::after {
    opacity: 1;
    transition: 0.7s opacity linear;
}
