h1 {
    font-weight: 700;
}
.list-item {
    margin-top: 2%;
    height: 100%;
}
.list-item:first-of-type {
    margin-top: 0%;
}
.booklistTitle {
    margin-top: 3%;
    text-align: center;
}
.booksList {
    margin-bottom: 3%;
    margin-top: 2%
}
